# Groq API Key
GROQ_API_KEY=

# Embedding settings
EMBEDDING_MODEL_NAME=
SIMILARITY_THRESHOLD=

# LLM settings
LLM_MODEL=
LLM_TEMPERATURE=

# RAG & Chunking settings
VECTOR_SEARCH_TOP_K=
CHUNK_SIZE=
CHUNK_OVERLAP=
